* {
	box-sizing: border-box;
}

body {
	margin: 0;
	border: 0;
	background: #21506A;
	}

#container {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.heading {
	text-transform: uppercase;
	font-weight: bold;
	color: #EFEFFB;
	font-size: 40px;
	font-family: sans-serif;
}

input {
	width: 60%;
	padding: 5px;
	font-size: 20px;
	border: solid #E6DDBC;
	border-radius: 7px;
}

#enter-btn {
	border: none;
	cursor: pointer;
	height: 41px;
	width: 48px;
	padding: 2px 15px;
	border-radius: 7px;
	color: #1C6392;
	font-size: 20px;
	background-color: #E6DDBC;
	transition: 0s;
	font-weight: normal;
}

#enter-btn:hover{
	background-color: #EFEFFB;
	opacity: 2;
}

#enter-btn:active {
	background-color: #94AAB7;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

li {
	list-style: none;
	width: 50%;
	border: #94AAB7 solid 2px;
	border-radius: 10px;
	padding: 3px 10px;
	margin: 5px;
	background-color: #B42423;
	color: white;
	font-size: 22px;
	font-family: fantasy;
	text-align: left;
	text-transform: capitalize;
	transition: .2s;
	flex-wrap: wrap;
}

li:hover {
	background: #E54859;
}

li > button {
	background: none;
	border: none;
	font-size: 20px;
	font-weight: bold;
	color: #E5BA11;
	float: right;
	cursor: pointer;
}

li > button:hover {
	color: #21506A;
}

.delete {
	display: none;
}